@using Tts_Asp.Net_Core.Models.ConnectDataBase
@model IsTheme
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddTheme";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}
<div class="container" style="margin-left:40%;">
    <hr />
    <div class="row" style="margin-top:30px;">
        <div class="col-md-4">
            <h4>Tải Ảnh Lên</h4>
            <form action="~/Admin/Theme/ImageUpload" method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input class="form-control" id="file" type="file" name="file" />
                    </div>
                    <br />
                    <button type="submit">Tải Lên</button>
                </div>
            </form>
            <img src="@ViewBag.ImgUrl" style="border-radius:100%;width:400px; z-index:20; height:auto; text-align:center;" />
            <br />
            <h4 style="margin-top:100px;">Thêm Chủ Đề</h4>
            <form action="~/Admin/Theme/AddTheme">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Isname" class="control-label"></label>
                    <input asp-for="Isname" class="form-control" />
                    <span asp-validation-for="Isname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsTitle" class="control-label"></label>
                    <input asp-for="IsTitle" class="form-control" />
                    <span asp-validation-for="IsTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AvatarTheme" class="control-label"></label>
                    <input asp-for="AvatarTheme" class="form-control" value="@ViewBag.ImgUrl" readonly="readonly" />
                    <span asp-validation-for="AvatarTheme" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


