@using Tts_Asp.Net_Core.Models.ConnectDataBase
@model IsTheme

    <tr>
        <td>@Model.ThemeId</td>
        <td>@Model.Isname</td>
        <td>@Model.IsTitle</td>
        <td><img src="@Model.AvatarTheme" height="50" width="50" /></td>
        <td><a class="btn btn-success">Sửa</a></td>
        <td><a class="btn btn-success">Xóa</a></td>
    </tr>
