@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Tts_Asp.Net_Core.Models.ConnectDataBase
<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Home/Home.css" rel="stylesheet" />
    <link href="~/Admin/Admin.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <div class="navHome">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li style="float:left;"><a><i class="fa fa-phone"></i>Đường dây nóng hỗ trợ : 1900 54 54 81</a> </li>
            <li><a href="#">about</a> </li>
            <li><a href="#">about</a> </li>
            <li><a href="#">about</a> </li>
            <li><a href="#">about</a> </li>
            <li><a href="#">about</a> </li>
            <li>
                <div class="search-nav">
                    <i class="fa fa-search"></i>
                    <input type="search" placeholder="Tìm kiếm" />
                </div>
            </li>
        </ul>
        <div class="LogoAndSupport">
            <img src="~/Image/vnpost-logo1.png" />
            <ul class="suppost_search">
                <li>
                    <img src="~/Image/search-price.png" />
                    <a href="#">
                        <b>Tra Cước</b>
                    </a>
                </li>
                <li>
                    <img src="~/Image/mess.png" />
                    <a href="#">
                        <b>Đánh Giá</b>
                    </a>
                </li>
                <li>
                    <img src="~/Image/recruitment.png" />
                    <a href="#">
                        <b>Tuyển Dụng</b>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="mauMeHoaLahe p-1">
                <ul>
                    <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i>Trang chủ</a></li>
                    <li><a href="/OverviewAccount"><i class="fa fa-user"></i>Tài khoản</a></li>
                    <li><a href="#"><i class="fa fa-map"></i>Biểu đồ</a></li>
                    <li><a href="/AddPost"><i class="fa fa-book"></i>Thêm Bài Viết</a></li>
                    <li><a href="/ViewPost"><i class="fa fa-podcast"></i>Xem bài viết</a></li>
                    <li><a href="/Loai-chu-de"><i class="fa fa-themeisle"></i>Loại chủ đề</a></li>
                    <li><a href="/chu-de"><i class="fa fa-themeisle"></i>Chủ đề</a></li>
                </ul>
                <span class="text-muted"></span>
            </div>
        </div>
        <nav class="navbarv navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="navbar-toggler-icon  " role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </button>
        </nav>
    </div>
    <div style="margin:100px 10%; width:80%;">
        @RenderBody()
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @RenderSection(name: "Ten", required: false)
    <script src="~/Home/Home.js"></script>
</body>
</html>
